[submodule "UB-MR"]
	path = UB-MR
	url = git@github.com:ub-cavas/UB-MR.git
[submodule "Road-Runner"]
	path = Road-Runner
	url = git@github.com:ub-cavas/digital-twin-roadrunner.git
[submodule "AWSIM/UB-AWSIM-Labs"]
	path = AWSIM/UB-AWSIM-Labs
	url = git@github.com:ub-cavas/UB-AWSIM-Labs.git
[submodule "AWSIM/UB_AWSIM"]
	path = AWSIM/UB_AWSIM
	url = git@github.com:ub-cavas/UB_AWSIM.git
[submodule "ub-lincoln-docker"]
	path = Autoware/ub-lincoln-docker
	url = https://github.com/ub-cavas/ub-lincoln-docker.git
